spring:
  application:
    name: java-light-wind-web

  thymeleaf:
    prefix: classpath:templates/
    suffix: .html
    mode: HTML
    cache: false

server:
  port: 8080

logging:
  level:
    com.lightwind: DEBUG
